@import "tailwindcss";

body {
  background: #070F1B;
}

.modal-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.modal-scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 999px;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}

.modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}